/* asterix removes defauly brower styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------ General styles ------------------------------ */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(226, 244, 197);
}

/* ------------------------------ header styles ------------------------------ */

/* -------- header box styles ---------- */
header {
    background-color: rgb(88, 163, 153);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px rgb(73, 105, 137);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* ------- removes hyperlinks --------- */
header a {
    text-decoration: none;
    color: inherit;
}

/* --------- header Logo styles --------- */
#logo {
    padding-left: 10px;
    font-size: 180%;
    color: rgb(226, 244, 197);
    letter-spacing: 1px;
}

/* -- navigation bar styles and remove bulletpoints from list -- */
#navigation {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
    
}

/* ---- navigation spread out text ----- */
#navigation > li {
    margin-bottom: 1em;
}

/* -- navigation underline active screen page -- */
.active {
    border-bottom: 1px solid rgb(226, 244, 197);
}

/* ---- navigation bar drop down menu ----- */
nav {
    position: absolute;
    background-color: rgb(88, 163, 153);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgb(73, 105, 137);
    display: none;
    top: 100%;
}

/* ---------- navigation toggle --------- */
#nav-toggle:checked~nav {
    display: block;
}

/* --- navigation hides the checkbox for the toggle ---- */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}

/* ------------------------------ main styles ------------------------------ */
main {
    background-color: rgb(168, 205, 159);
    flex: 1 0 auto;
    margin-top: 35px;
}

/* ------------------------------ footer styles ------------------------------ */
footer {
    background-color: rgb(88, 163, 153);
}

/* ------------------------------ media queries (tablets and larger:768px and up) ------------------------------ */

@media screen and (min-width: 768px){

    /* ------------------------------ header ------------------------------ */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        
    }
    /* align navigation along header */
    #navigation {
        display: flex;
    }

    /* spread out navigation menu */
    #navigation > li {
        padding-left: 1rem;
        margin: 1rem;
    }

    /* remove navigation drop down icon */
    .nav-toggle-label {
        display: none;
    }

    /* mkae logo syled better */
    #logo {
       font-size: 240%;
       line-height: 75px;
       margin: 0.5rem;
    }

    /* ------------------------------ Main Content ------------------------------ */

    /* drop main content down accomodate larger header */
    main {
        margin-top: 92px;
    }
}

/* ------------------------------ media queries (laptops and larger:992px and up) ------------------------------ */

@media screen and (min-width: 992px) {
    #navigation a:hover {
        border-bottom: 1px solid rgb(226, 244, 197);
    }
}