/* asterix removes defauly brower styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(73, 105, 137);
}

main {
    background-color: rgb(88, 163, 153) ;
}

footer {
    background-color: rgb(73, 105, 137);
}